body{
    background-color: lime;
  }
  
  #outPopUp {
    position: absolute;
    width: 250px;
    height: 300px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: grey;
  }
  
  #usericon{
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 16;
    top: -15%;
    left: 35%
  }
  
  #footer {
      position: fixed; 
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
  }
  
  .login {
    border: none;
    padding: 0px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .login:hover {background-color: white;}
  
  .center {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  
  form{
    display: flex;
    justify-content: center;
    display: block;
  }
  
  input{
    text-align: center;
  }
  
  form > input, form > div{
    margin-top: 10px;
    margin-bottom: 10px;
  }